@media screen and (min-width: 480px) {
    .detailed-dialog {
        max-width: 400px;
        min-width: 400px;
    }
}

@media screen and (min-width: 1010px) {
    .detailed-dialog {
        magin-left: 10px;
        margin: auto;
    }
}

.india-map-detailed-view {
    display: flex;
}

@media screen and (max-width: 999px) {
    .india-map-detailed-view {
        display: flex;
        flex-direction: column;
    }  
}