.detailed-dialog {
    padding-top: 25px;
}

@media screen and (min-width: 401px) {
    .india-map-detailed-view {
        width: 400px;
    }
}

.india-map-detailed-view {
    height: 800px;
    display: flex;
}

@media screen and (max-width: 999px) {
    .india-map-detailed-view {
        height: 800px;
        display: flex;
        flex-direction: column;
    }  
}